<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <div class="registration">
        <h2>Registration</h2>
        <form action="/register" method='POST'>
            {% csrf_token %}

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p class="message">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <label for="name">Name:</label>
            <input type="text" name="name">

            <label for="alias">Alias:</label>
            <input type="text" name="alias">

            <label for="email">Email:</label>
            <input type="text" name="email">

            <label for="password">Password:</label>
            <input type="password" name="password">

            <label for="c_password">Confirm Password:</label>
            <input type="password" name="c_password">

            <label for="date">Birthday:</label>
            <input type="date" name="birthday">

            <input type="submit" value="Register">
        </form>
    </div>

    <div class="login">
        <h2>Login</h2>
        <form action="/login" method='POST'>
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="text" name="email">

            <label for="password">Password:</label>
            <input type="password" name="password">

            <input type="submit" value="Login">
        </form>
    </div>
    
</body>
</html>